<nav class="nav flex-column">
    <a class="nav-link" href="{{ path('index') }}"><i class="fa fa-home" aria-hidden="true"></i>Главная</a>
    <a class="nav-link" href="#"><i class="fa fa-weixin" aria-hidden="true"></i>Чат</a>
    <a class="nav-link" href="#"><i class="fa fa-cog" aria-hidden="true"></i>Настройки</a>
</nav>