<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">ROADHELP.RU</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('index') }}">Контакты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('test') }}">О программе</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <span>{{ app.user.name }}</span>
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Выход</a>
                    {% else %}
                        <a class="dropdown-item" href="{{ path('app_login') }}">Вход</a>
                        <a class="dropdown-item" href="{{ path('app_register') }}">Регистрация</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>