i.fa {
    width: 25px;
}

a {
    color: #505356 !important;
}

.main-block {
    height: 100%;
}

.navbar {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(245, 238, 238, 0.5) !important;
}

.navbar-light .navbar-brand {
    color: #e9ecef !important;
}

.main-cont {
    padding-top: 15px;
}

.navbar-left {
    border-right: 1px solid #6f7c8a;
}

.btn-primary {
    margin-top: 10px;
    background-color: #606973 !important;
    border-color: #606973 !important;
}